{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section>
        <article>
            <h1>All Reservations</h1>
            <!--Begin row-->
            <div class="row">
                <!--Begin col-->
                <div class="column">
                    <pre id="bookings"></pre>
                </div>
                <!--End col-->

                <!--Begin col-->
                <div class="column">
                    <div class="videowrap">
                        <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11898.289517452584!2d-87.60853049433447!3d41.79442860243028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2912ce6f7027%3A0xc0cfb5545d4a37b2!2sHyde%20Park%2C%20Chicago%2C%20IL%2C%20USA!5e0!3m2!1sen!2spt!4v1662384760663!5m2!1sen!2spt"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <!--End col-->
            </div>
            <!--End row-->

        </article>
    </section>
{% endblock %}

{% block extrascripts %}
    <script>
        if (window.localStorage.getItem("token") === null || window.localStorage.getItem("token") === undefined) {
            alert("Login to view Reservations");
            window.location.href = "/login/";
        }

        fetch('/reservations/', {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': 'Token ' + window.localStorage.getItem('token'),
            }
        }).then(r => {
            r.json().then(bookings => {
                console.log(bookings)
                let h = `<table class="res-table"> <tr> <th>Id</th> <th>Name</th> <th>Date</th> <th>Slot</th></tr><tbody>`;

                const slots = {0: "11 AM"}
                for (let i=0; i<13; i++){
                    slots[i+2] = (i+1) + " PM"
                }

                for (let booking in bookings) {
                    booking = bookings[booking];
                    h += `<tr>` +
                            `<td>${booking.id}</td>` +
                            `<td>${booking.first_name}</td>` +
                            `<td>${booking.reservation_date}</td>` +
                            `<td>${(booking.reservation_slot === 12) ? 12 : booking.reservation_slot % 12} ${(Math.trunc(booking.reservation_slot/12) === 1) ? "PM": "AM"}</td>` +
                         `</tr>`;
                }
                h += "</tbody></table>"
                document.getElementById('bookings').innerHTML = h;
            })
        })
    </script>
{% endblock %}

